<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <h1 class="col-6 offset-3">Sign-Up here:</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="post"
         class="needs-validation" novalidate>
            <!-- user Name field -->
            <div class="mb-3">
                <label for="username">Enter Name</label>
                <input class="form-control"
                name="username"
                 type="text"
                  required>
                  <div class="invalid-feedback">Name is required</div>
                </div>

                <!-- email field -->
            <div class="mb-3">
                <label for="email">Enter your e-mail: </label>
                <input class="form-control"
                name="email"
                 type="email"
                  required>
            <!-- password -->
            <label for="username">Enter Password</label>
            <input class="form-control"
             type="password"
             name="password"
              required>
              <div class="invalid-feedback">password is required</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>