.card{
    height: 250;
    width: 250px;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 3px 6px 15px rosybrown;
    transition: 0.5s;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.desc{
    padding: 0 2px 0 15px;
}
.card:hover{
    box-shadow: 6px 12px 30px rgb(0, 0, 0);
    transition-delay: 0.05s;
}
