<%- include("includes/head.ejs") %>
<body>
    <form method="post" action="/posts">
        <input name="user" placeholder="Enter your name!" id="user">
    <br> <br><br>
        <textarea  name="content" placeholder="Write your blog" id="content"></textarea> <br> <br>
        <button id="btn">Submit</button>
    </form>
</body>