<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>Enter Your Chat</h2>
    <form method="post" action="/chats">
        <input type="text" placeholder="sender:" name="from"><br><br><br>
        <textarea name="message" id="message">Enter your message</textarea><br><br><br>
        <input type="text" placeholder="reciever:" name="to">
        <br>
        <button>Submit Chat</button>
    </form>
</body>
</html>