<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasta Blogs</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
    background-color:#F0C1E1 ;
}

h2{
    color: #CB9DF0;
}
h1{
    color: #CB9DF0;
}
#new{
    border: 1.5px solid #bd5aa4 ;
    background-color: #A9C46C;
    border-radius: 7.2%;
    color: #809D3C;
    text-decoration: none;
}
#post{
    width: 350px;
    margin-top: 25px;
    background-color: #F6D6D6;
}
#h4{
    display: flex;
}
#user{
    color: #85A98F;
}
#content{
    color: #859F3D;
}
    </style>
</head>
</html>